<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kickstarter_new</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.search.default.directory_provider">filesystem</property>		
		<property name="hibernate.search.default.indexBase">resources/lucene/indexes</property>
		
<!-- 		<property name="hibernate.search.default.directory_provider" value="filesystem"/>   -->
<!-- 		<property name="hibernate.search.default.indexBase">D:\Northeastern MS IS\Semester 2\index</property> -->

		<mapping class="com.neu.kickstarter_experimental.pojo.User" />
		<mapping class="com.neu.kickstarter_experimental.pojo.Person" />
		<mapping class="com.neu.kickstarter_experimental.pojo.User_Roles" />
		<mapping class="com.neu.kickstarter_experimental.pojo.CreatedProject" />
		<mapping class="com.neu.kickstarter_experimental.pojo.Category" />		
		<mapping class="com.neu.kickstarter_experimental.pojo.PaymentDetails" />
	</session-factory>
</hibernate-configuration>
